li{
    list-style:none;
    display: inline;
}
#replies{
    padding:0;
}
#modDiv{
    width: 300px;
   height: 100px;
   position: absolute;
   background: lightgray;
   text-align: center;
   padding: 15px 10px 10px 10px;
   z-index: 1000;
   top: 50%;
   left: 50%;
   display:none;
}

.fileDrop
{
	width : 80%;
	height : 80%;
	border : 1px solid black;
	background-color : lightgrey;
	margin : auto;
	padding : 100px;
}

.has-img img
{
	height: 100px !important;
}

.modal-title{
    margin-bottom: 10px;
}

.pagination{
    list-style: none;
    display: inline;
}

.pagination li{
    display: inline;
    padding :10px;
    float: left;
}

/* ----------------------------------------------- space */
.width300 {
	width: 300px;
}

.mt10 {
	margin-top: 10px;
}

.mr10 {
	margin-right: 10px;
}

.ml10 {
	margin-left: 10px;
}

.mb10 {
    margin-botton: 10px;	
}

/* ------------------------------------------------ text  */
.text-right {
	text-align: right;
}

.fw7 {
	font-weight: 700;
}

/* ------------------------------------------------ cursor  */
.point {
	cursor: pointer;
}
